server:
  port: 8081

jwt:
  secret: 'ChocobeanDonationProjectSecretKeyForJWT20251017ThisIsVerySecure'
  expiration: 86400000
  access: 900000
  refresh: 1209600000

spring:
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

  datasource:
    url: jdbc:mysql://localhost:3306/chocobean?serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  security:
    oauth2:
      client:
        registration:
          naver:
            client-id: 6yT3JbgVTBaZq6eqSWOx
            client-secret: WNqpYuqkqd
            redirect-uri: http://localhost:8081/oauth2/code/naver
            authorization-grant-type: authorization_code
            scope: "name,email,nickname,phone"

        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response